{{ ansible_managed | comment }}

{# http/2 is configured differently in nginx v1.25.1 or newer #}
{% set http2_directive = nginx_version.stdout is version('1.25.1', '>=') %}

{% for vhost in nginx_vhosts %}
# {{ vhost.servername }}
server {
    server_name {{ vhost.servername }};
{% if vhost.https | default(nginx_default_https) %}
    listen {{ nginx_port_ssl }} ssl{% if http2_directive is false%} http2{% endif %};
    listen [::]:{{ nginx_port_ssl }} ssl{% if http2_directive is false%} http2{% endif %};
    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/security.conf;
    ssl_certificate {{ vhost.cert_path | default(nginx_default_cert) }};
    ssl_certificate_key {{ vhost.cert_key_path | default(nginx_default_cert_key) }};
{% if http2_directive %}
    http2 on;
{% endif %}
{% else %}
    listen {{ nginx_port }};
    listen [::]:{{ nginx_port }};
{% endif %}

    location / {
        root {{ vhost.document_root | default(nginx_default_document_root) }};
        index {{ vhost.index | default(nginx_default_index) }};

{# Directory listings #}
{% if vhost.autoindex | default(nginx_default_autoindex) %}
        autoindex on;
{% endif %}

{# Error pages #}
{% if vhost.error_pages is defined and vhost.error_pages|length > 0 %}
{% for page in vhost.error_pages %}
        error_page {{ page.code }} {{ page.path }}; 
{% endfor %}
{% endif %}

{# Host blocking #}
{% if vhost.allowed_ips is defined and vhost.allowed_ips|length > 0 %}
{% for ip in vhost.allowed_ips %}
        allow {{ ip }};
{% endfor %}
        deny all;
{% endif %}
    }
{% if vhost.extra_params is defined %}
{{ vhost.extra_params | indent(width=4, first=True)}}
{% endif %}
}

{% endfor %}
